.error {
    color: red;
    font-size: 90%;
  }
 #editSubmit {
    font-size: 110%;
    font-weight: 100;
    background: #006dcc;
    border-color: #016bc1;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
  input[type="reset"] {
    font-size: 110%;
    font-weight: 100;
    background: #006dcc;
    border-color: #016bc1;
    color: #fff;
    margin-top: 10px;
    cursor: pointer;
  }
  #editSubmit:hover {
    background: #0165b6;
  }
  input[type="reset"]:hover {
    background: #0165b6;
  }
  body {
    font-size: 16px;
    background: #f9f9f9;
    font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  }
  h2 {
    text-align: center;
    text-decoration: underline;
  }
  form {
    width: 400px;
    background: #fff;
    padding: 25px 40px 40px;
    border: 1px solid #ccc;
    margin: 50px auto 0;
    border-radius: 5px;
  }
  label {
    display: block;
    margin-bottom: 5px;
  }
  label i {
    color: #999;
    font-size: 80%;
  }
  input {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
  }
   #editSubmit {
    border: 1px solid #ccc;
    padding: 10px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 2px;
  }
  .row {
    padding-bottom: 10px;
  }

  .backIndex{
    color: red;
  }